DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/drawnix"
AUTH_SECRET=""

AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""

AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""

APP_URL="http://127.0.0.1:3000"
NEXT_PUBLIC_TLDRAW_SYNC_URL="http://127.0.0.1:8787"
TLDRAW_SYNC_SECRET=""
